@font-face {
  font-family: "Amsdam";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/Amsdam/Amsdam Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Amsdam/Amsdam Regular.woff") format("woff"), url("../fonts/Amsdam/Amsdam Regular.ttf") format("truetype"); }
@font-face {
  font-family: "CrimsonText Italic";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/CrimsonText/CrimsonText-Italic.eot?#iefix") format("embedded-opentype"), url("../fonts/CrimsonText/CrimsonText-Italic.woff") format("woff"), url("../fonts/CrimsonText/CrimsonText-Italic.ttf") format("truetype"); }
@font-face {
  font-family: "CrimsonText Roman";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/CrimsonText/CrimsonText-Roman.eot?#iefix") format("embedded-opentype"), url("../fonts/CrimsonText/CrimsonText-Roman.woff") format("woff"), url("../fonts/CrimsonText/CrimsonText-Roman.ttf") format("truetype"); }
@font-face {
  font-family: "Montserrat Regular";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/Montserrat/Montserrat-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat/Montserrat-Regular.woff") format("woff"), url("../fonts/Montserrat/Montserrat-Regular.ttf") format("truetype"); }

/*# sourceMappingURL=fonts.css.map */
