/*==========  Desktop First Method  ==========*/
@media only screen and (max-width : 1229px){
	
	.blog-row-half {
		flex-basis: 100%;
	}
	.blog-row-half:nth-child(3) .blog-post, 
	.blog-row-half:nth-child(4) .blog-post{
		order: 1;
	}

	.blog-row-half:nth-child(3) .blog-img, 
	.blog-row-half:nth-child(4) .blog-img{
		order: 0;
	}
}

/*Дабы img был без падинга*/
@media (min-width: 1230px){
	
	.container-narrow {
   		width: 1170px;
   	}
}

@media (min-width: 992px){

.history-left.col-md-6 {
		width: 49%;
	}

.history-right.col-md-6 {
		float: right;
		width: 49%;
	}	
	.services-border::after, 
	.services-border::before {
    	width: 75px;
	}
}

@media only screen and (max-width : 1229px) {
	.ourhistory .history-left .fact:before, 
	.ourhistory .history-right .fact:before {
		left: calc(105% - 3px);
	}
	.ourhistory .history-right .fact:before {
    	left: calc(-7% - 3px);
	}
}

.ourhistory .history-left .fact:before, .ourhistory .history-right .fact:before

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
	.mosaicflow__column {
		width: 25%;
	}
	.nav a {
		line-height: 25px;
	}
}

@media only screen and (max-width : 1083px) {
	.ourhistory .history-left .fact::before, 
	.ourhistory .history-right .fact::before {
		border: none;
	}
	.price-plan .price-img:before,
	.price-plan .price-img:after {
		display: none;
	}
	
}


/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	header .social {
		float: left;
	}
	.carousel-caption {
    	bottom: 15%;
	}
	.services .row:last-child {
		margin-top: 0
	}
	.services .col-sm-6 {
		margin-top: 40px;
	}

	.progress .col-md-3:nth-child(2) {
		border-right: none;
	}

	.ourhistory span.year2015:after {
		height: 655px;
	}

	.ourhistory span.year2014.year2015:after {
		height: 450px;
	}
	.purchase-text {
		padding: 30px 0;
	}
	.purchase .button_wrap {
		padding: 0;
		text-align: center
	}

}

@media screen and (max-width : 838px) {
	.blog-img, .blog-post {
		flex-basis: 100%;
	}
	.blog-row-half {
		flex-wrap: wrap;
	}

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {

	/*Disable Animation on Mobile Devices*/
	.animated {
		/*CSS transitions*/
		-o-transition-property: none !important;
		-moz-transition-property: none !important;
		-ms-transition-property: none !important;
		-webkit-transition-property: none !important;
		transition-property: none !important;
		/*CSS transforms*/
		-o-transform: none !important;
		-moz-transform: none !important;
		-ms-transform: none !important;
		-webkit-transform: none !important;
		transform: none !important;
		/*CSS animations*/
		-webkit-animation: none !important;
		-moz-animation: none !important;
		-o-animation: none !important;
		-ms-animation: none !important;
		animation: none !important;
	}

	.services-border::after, 
	.services-border::before {
    	width: 300px;
    }

    .progress .col-md-3 {
		border-right: none!important;
	}

	.ourhistory .history-left .fact::after, 
	.ourhistory .history-right .fact::after {
		border: none;
	}

	.ourhistory .history-right .fact {
		padding: 21px 5px 29px 22px;
	}

	.ourhistory span.year2015:after,
	.ourhistory span.year2014.year2015:after
	 {
		height: 40px;
	}

	.ourhistory .history-right .fact {
		margin-top: 38px;
	}

	.ourhistory span.year2014.year2015:before {
		height: 43px;
	}
	
	.history-idea {
		display: none;
	}
	.price-plan {
		margin-bottom: 50px;
	}

   
}

@media only screen and (max-width : 690px) {
	.services-border::after, 
	.services-border::before {
    	width: 250px;
    }
}
@media only screen and (max-width : 608px) {
	.footer input {
    	width: 100%;
    }
}

@media only screen and (max-width : 595px) {
	.services-border::after, 
	.services-border::before {
    	width: 200px;
    }
    
    
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
	.services-border::after, 
	.services-border::before {
    	width: 150px;
    }
}

@media only screen and (max-width : 385px) {
	.services-border::after, 
	.services-border::before {
    	width: 100px;
    }
}


/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {
	.progress .col-md-3:not(:last-child) {
		border-bottom: 1px solid #b0b0b0;
	}

	.progress .col-md-3:not(:first-child) {
		margin-top: 20px;
	}

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
	.progress .col-md-3 {
		border-bottom: none!important;
		margin-top: 0!important;
	}

}





/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

	
}

 /* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}