@import "bourbon/bourbon"

$main-font: CrimsonText Roman, Arial, sans-serif
$main-italic: CrimsonText Italic, Arial, sans-serif
$add-font: Montserrat Regular, Arial, sans-serif
$header-font: Amsdam, Arial, sans-serif

$main-color: #3e3d3d
$bcg-color: #e3e3e3

html.js .loader
	background: none repeat scroll 0 0 #ffffff
	bottom: 0
	height: 100%
	left: 0
	position: fixed
	right: 0
	top: 0
	width: 100%
	z-index: 9999
	.loader_inner
		background-image: url("../img/preloader.gif")
		background-size: cover
		background-repeat: no-repeat
		background-position: center center
		background-color: #fff
		height: 60px
		width: 60px
		margin-top: -30px
		margin-left: -30px
		left: 50%
		top: 50%
		position: absolute
body
	font-family: $main-font
	font-weight: normal
	font-size: 14px
	color: $main-color
	min-width: 320px
	position: relative
	line-height: 20px
	-webkit-font-smoothing: antialiased
	overflow-x: hidden

body input:focus:required:invalid,
body textarea:focus:required:invalid
	color: red
body input:required:valid,
body textarea:required:valid
	color: green
img
	max-width: 100%
	height: auto
a
	text-decoration: none
	color: #39f
	&:hover,
	&:focus
		text-decoration: none
h2
	font-family: $header-font
	text-transform: uppercase
	color: $main-color		
h1
	color: #757575
	font-family: $add-font
	font-size: 18px
	font-weight: 400
	line-height: 50px
	text-transform: uppercase
	letter-spacing: 2px
	background: url(../img/logo.png) no-repeat 9% 37%
	text-align: left
	padding-left: 75px
	margin: 0
h2	
	font-size: 20px
	padding: 0 0 32px
	position: relative
	letter-spacing: 2px
	&:after
		content: ""
		height: 5px
		width: 185px
		position: absolute
		bottom: 0%
		left: calc(50% - 92.5px)
		background: url(../img/river-line.svg) repeat-x
h3
	color: #d8d8d8
	font-family: $add-font
	font-size: 13px
	line-height: 18px
	text-transform: uppercase
	letter-spacing: 1.6px
h4
	color: #d8d8d8
	font-family: $add-font
	font-size: 16px
	line-height: 18px
	letter-spacing: 2.2px
p
	letter-spacing: 1.5px
	word-spacing: -0.8px
	line-height: 20.31px

.text-center
	text-align: center

.button_wrap
	display: inline-block
.button
	border: 1.8px solid $main-color
	color: $main-color
	cursor: pointer
	display: inline-block
	height: 39px
	line-height: 39px
	width: 134px
	background-color: #fff
	text-align: center
	font-family: $add-font
	letter-spacing: 1px
	transition: all 0.3s
	position: relative
.btn-dark
	background-color: $main-color
	color: #cecece
.hidden
	display: none
.main-logo
	a
		color: #757575
.logo
	display: inline-block
	vertical-align: middle
	padding-bottom: 17px
	margin-right: 9px
.nav,
.social
	li
		display: inline-block
.nav
	li
		padding-right: 15px
	a
		font-family: $add-font
		color: #aaa
		font-size: 12px
		font-weight: 400
		line-height: 50px
		text-transform: uppercase
		&:hover
			color: #757575
.social
	float: right
	i
		line-height: 50px
		font-size: 12px
		color: #a4a4a4
	li:nth-child(2)
		&:after
			content: "|"
			color: #a4a4a4
			padding-left: 2px
		&:before
			content: "|"
			color: #a4a4a4
			padding-right: 2px
.carousel
	max-width: 1600px
	max-height: 671px
	margin-left: auto
	margin-right: auto
	position: relative
	overflow: hidden
.carousel-inner
	.button
		background: transparent
		color: #fff
		border: 1.8px solid #f2f2f2
		width: 153px
		height: 44px
		font-size: 15px
		line-height: 44px
		letter-spacing: 1.9px
		position: relative
		transition: all .5 ease	
		&:after
			content: ''
			position: absolute
			left: calc(50% - 7.5px)
			top: 85%
			background: url(../img/arrow.png) no-repeat
			height: 50px
			width: 15px
.carousel-caption
	top: 30%
	span
		color: #fff
		letter-spacing: 1.4px
		display: block
	.comp-name
		color: #fff
		font-family: $header-font
		font-size: 36px
		font-weight: 400
		line-height: 155px
		text-transform: uppercase
		letter-spacing: 3.2px
		position: relative
		&:after
			content: ''
			position: absolute
			background: url(../img/backh.png)
			height: 5px
			width: 37vw
			left: 18%
			bottom: 13%
		&:before
			content: ''
			position: absolute
			background: url(../img/backh.png)
			height: 5px
			width: 37vw
			left: 18%
			top: 13%
section
	background-color: $bcg-color
	text-align: center
	h2+p
		padding: 33px 6%
.about-us
	padding: 75px 0 60px
	.button
		overflow: hidden
	.button:after
		content: ''
		position: absolute
		transition: all 0.3s
		width: 100%
		height: 0
		top: 50%
		left: 50%
		background: #fff
		opacity: 0
		transform: translateX(-50%) translateY(-50%) rotate(45deg)
	.button:hover
		color: #fff
		z-index: 1
	.button:hover:after
		opacity: 1
		height: 250%
		background: #2d2d2f
		z-index: -1
		transition: height .5s
	.button:active:after
		height: 400%
	.bgc-white
		p
			text-align: left
			margin: 0 auto
			padding: 35px 6% 40px
			line-height: 25px
			letter-spacing: 1.5px
			word-spacing: -0.8px
	img
		margin-bottom: 62px
.bgc-white
	background-color: #fff
	padding: 0 0 50px
.progress
	.col-md-3
		min-height: 169px
	padding-top: 40px
	.col-md-3:not(:last-child)
		border-right: 1px solid #b0b0b0
	img
		margin-bottom: 15px
	span
		display: block
		font-family: $add-font
		font-size: 13px
		font-weight: 400
		line-height: 18px
		text-transform: uppercase
		letter-spacing: 1px
		&:last-child
			font-size: 45px
			font-weight: 400
			line-height: 72px
.services
	background: url(../img/bgc-services.jpg) no-repeat
	background-size: cover
	padding: 70px 0 85px
	h2
		color: #fff
		&:after
			background: url(../img/river-line-white.svg) repeat-x
	h3
		padding: 53px 0 20px
	.services-border
		p
			letter-spacing: 1.5px
			word-spacing: -0.8px
			line-height: 20.31px
			color: #d8d8d8
			padding: 0 6% 44px
	.col-md-12
		p
			color: #cfcfcf
			padding: 33px 6%
			line-height: 23px
	.row:last-child
		margin-top: 44px
	img
		position: absolute
		left: calc(50% - 12px)
		top: -3%

.services-border
	border: 2px solid #898989
	border-top: none
	&:after,
	&:before
		display: block
		position: absolute
		content: ''
		height: 2px
		width: 100px
		background-color: #898989
		top: 0
	&:before
		right: 15px
.ourhistory
	letter-spacing: 1.5px
	word-spacing: -0.8px
	line-height: 20.31px
	padding: 60px 0 85px
	p
		letter-spacing: 1.5px
		word-spacing: -0.8px
		line-height: 20.31px
		color: $main-color
		padding: 33px 6%
	span.year2015
		display: block
		font-family: $add-font
		font-size: 13px
		border: 2px solid $main-color
		line-height: 73px
		height: 73px
		width: 73px
		margin: 12px auto
		border-radius: 50%
		position: relative
		&:after
			display: block
			position: absolute
			top: 100%
			left: calc(50% - 1px)
			content: ''
			height: 600px
			width: 2px
			background-color: $main-color
	span.year2014.year2015
		margin-bottom: 4px
		&:after
			height: 370px
		&:before
			display: block
			position: absolute
			bottom: 100%
			left: calc(50% - 1px)
			content: ''
			height: 250px
			width: 2px
			background-color: $main-color
	.history-left,
	.history-right
		text-align: left
		h3
			color: $main-color
		.fact
			border: 2px solid $main-color
			position: relative
			transition: all .5s
			&:after
				content: ''
				position: absolute
				bottom: 85%
				left: 100%
				width: 0
				height: 0
				border-style: solid
				border-width: 11px 11px 0 0
				border-color: $main-color transparent transparent transparent
			&:before
				content: ''
				position: absolute
				bottom: 85%
				left: calc(105% - 5.775px)
				border: 8.5px solid $main-color
				border-radius: 50%
		.date
			font-family: $add-font
			font-size: 11px
			letter-spacing: .2px
		.history-text
			padding: 19px 0 0
			width: 95%
	.history-left
		.fact
			padding: 25px 15px 29px 22px
			margin-top: 38px
	.history-right
		.fact
			padding: 21px 5px 29px 56px
			margin-top: 73px
			&:nth-child(2)
				margin-top: 50px
			&:after
				left: -11px
				border-width: 0 11px 11px  0
				border-color: transparent $main-color transparent transparent
			&:before
				left: calc(-6% - 3px)
.fact:hover
	background: $main-color
	h3, p, span
		color: #e4e4e4
.history-row
	margin-top: 28px
.history-idea
	display: block
	width: 54px
	height: 54px
	border-radius: 50%
	background-color: $main-color
	border: 2px solid $main-color
	margin: 47px auto 0px
	line-height: 43px
.team
	background: url(../img/bgc-team.jpg) no-repeat
	background-size: cover
	padding: 72px 0 70px
	p
		padding: 33px 6%
.team-members
	margin: 25px auto 0
	overflow: hidden
.team-member
	width: calc(100%/3 - 10px)
	float: left
	position: relative
	&:not(:last-child)
		margin-right: 10px
	&:hover .member
		opacity: 1	
	vertical-align: top
	img
		display: block
		width: 100%
	.member
		opacity: 0
		position: absolute
		top: 0
		left: 0
		right: 0
		bottom: 0
		background-color: rgba(255,255,255,0.9)
		text-align: left
		transition: all 0.2s ease-in
		padding: 68% 0 0 5%
		span
			display: block
			position: relative
			letter-spacing: -1px
			&:after
				content: ''
				position: absolute
				width: 11vw
				height: 2px
				background-color: #515151
				bottom: -10px
				left: 0
		h3
			color: $main-color
			text-transform: none
	.social
		margin-top: 23px
		float: left
		i
			line-height: 0
			color: $main-color
.portfolio
	background-color: #fff
	padding-top: 80px
	p
		padding: 33px 6%

/* Базовый контейнер табов */
.tabs
	min-width: 320px
	max-width: 1600px
	padding: 0px
	margin: 0 auto

/* стили секций с содержанием */
.content
	display: none
	padding-top: 76px
.mosaicflow__column
	float: left
	width: 25%
.mosaicflow
	overflow: hidden
.mosaicflow__item 
	img
		display: block
		width: 100%
		height: auto
		transform: scale(1)
		transition: all .5s
		&:hover
			transform: scale(1.1)
			position: relative
			z-index: 10
.tabs input
	display: none
.tabs label:hover 
	color: #888
	cursor: pointer
/* стили для активной вкладки */
.tabs input:checked + label 
	background-color: $main-color
	color: #cecece
/* активация секций с помощью переключателя :checked */
#tab1:checked ~ #content1,
#tab2:checked ~ #content2,
#tab3:checked ~ #content3,
#tab4:checked ~ #content4 
	display: block
.tabs label:before 
	margin: 0
	font-size: 18px
.prices
	padding: 70px 0 92px
	.col-md-12
		padding-bottom: 45px
.price-plan
	background-color: #fff
	padding: 43px 0 58px
	transition: 0.2s
	&:hover
		transform: translateY(-25px)
	h3
		color: $main-color
	.price-img
		height: 50px
		width: 50px
		border: 2px solid $main-color
		border-radius: 50%
		line-height: 38px
		margin: 20px auto 0
		position: relative
		&:before
			content: ''
			height: 1px
			width: 98px
			background-color: $main-color
			position: absolute
			top: 50%
			left: 100%
		&:after
			content: ''
			height: 1px
			width: 98px
			background-color: $main-color
			position: absolute
			top: 50%
			right: 100%
		img
			vertical-align: middle
	.price
		font-size: 70px
		font-weight: 700
		line-height: 118px
		font-family: $add-font
		position: relative
	.price-currency
		position: relative
		left: 0
		top: -23px
		sup
			font-size: 28px
			line-height: 39px
			font-family: $add-font
	.plan-details
		margin: 17px 0 37px
		font-family: $main-italic
		font-size: 16px
		line-height: 30px
		letter-spacing: 0px
.purchase
	background: #2d2d2f
	text-align: left
	.row
		padding: 40px 0 34px
	p
		padding: 15px 0 0
		color: #888
		font-size: 16px
		font-family: $main-italic
		line-height: 20px
	.btn-dark
		background-color: #2d2d2f
		border: 1.8px solid #e3e3e3
	.button_wrap
		padding-top: 12%
.purchase-text
	padding: 15px 0
.blog
	padding: 86px 0 0
	h2 + p
		padding: 33px 6% 80px
.blog-container
	max-width: 1600px
	padding: 0px
	margin: 0 auto
.blog-row
	display: flex
	flex-wrap: wrap
	flex-direction: row
	justify-content: space-between
.blog-row-half
	display: flex
	justify-content: flex-start
	flex-basis: 50%
	background-color: #555557
	&.dark
		background-color: #2d2d2f
.blog-post
	flex-basis: 50%
	padding: 48px 20px 20px 38px
	text-align: left
	p
		padding: 30px 0 0
		color: #949494
		font-size: 14px
	h3
		color: #e3e3e3
		font-family: $add-font
		font-size: 13px
		font-weight: 400
		line-height: 18px
		text-transform: uppercase
.blog-date
	color: #e3e3e3
	font-family: $main-italic
	font-size: 12px
	line-height: 18px
	position: relative
	padding-bottom: 23px
	&:after
		content: ''
		height: 1px
		width: 150px
		position: absolute
		background-color: #454545
		bottom: 37%
		left: 0
.clients
	background-color: #fff
	padding: 82px 0 125px
.clients-logo
	margin-top: 40px
	img:not(:last-child)
		padding-right: 95px
.feedback
	.carousel-caption
		top: 0
.feedback-text
	color: #efefef
	font-family: $main-italic
	font-size: 20px
	line-height: 24px
	letter-spacing: 0.3px
	word-spacing: -2.5px
	margin-top: 53px
.feedback-name
	color: #e3e3e3
	font-family: $add-font
	font-size: 13px
	line-height: 18px
	text-transform: uppercase
	margin: 60px 0 10px
.feedback-comp
	color: #efefef
	font-family: $main-italic
	font-size: 14px
	line-height: 24px
.map
	div
		margin: 0 auto
		max-width: 1600px
.footer
	background: url(../img/footerbgc.png)
	color: #949494
	.row
		&:first-child
			padding-bottom: 40px
			border-bottom: 1px solid #3e3e3e
	p
		padding: 21px 0 37px
		color: #949494
	address
		padding: 20px 0 32px
	.main-logo
		padding: 43px 0 0
		a
			color: #fff
			font-family: $add-font
			font-size: 18px
			font-weight: 400
			text-transform: uppercase
			letter-spacing: 2.2px
	.mail
		font-family: $add-font
		font-size: 13px
		line-height: 18px
		text-transform: uppercase
		padding-bottom: 15px
		letter-spacing: 1.4px
		a
			color: #949494
	.social
		float: none
	form
		margin-top: 120px
	input,
	textarea
		background-color: transparent
		border: 2.07px solid #464646
		padding-left: 23px
		font-family: $main-italic
		letter-spacing: 1px
	input
		height: 55px
		width: 48%
		display: inline-block
		margin-bottom: 22px
	input[type="text"],
	input[type="tel"]
		margin-right: 20px
	input[type="button"]
		background-color: #464646
		color: #e3e3e3
		font-family: $add-font
		line-height: 39px
		width: 134px
		height: 39px
		padding: 0
	textarea
		display: block
		width: 100%
		height: 95px
		margin-bottom: 22px
		padding-top: 17px
.copyright
	color: #949494
	font-family: $main-italic
	padding: 37px 0 30px